<div class="container" rtl>
    <div class="row">
      <div class="col">
        <h1>{{ 'anms.portfolio.title' | translate }}</h1>
      </div>
    </div>





    <div class="row align-items-end">
      
      <div class="col-md-6 col-lg-4 route-animations-elements ng-star-inserted">
      <mat-card class="example-card">
       
        <img mat-card-image src="/assets/img/1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

          <mat-card-title>Turbocom</mat-card-title>
          
        </mat-card-content>
        <mat-card-actions hidden>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>


      </div>
      

      <div class="col-md-6 col-lg-4 route-animations-elements ng-star-inserted">
        <mat-card class="example-card">
         
          <img mat-card-image src="/assets/img/2.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
  
            <mat-card-title>Vereventos</mat-card-title>
           
          </mat-card-content>
          <mat-card-actions hidden>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  
  
        </div>

        <div class="col-md-6 col-lg-4 route-animations-elements ng-star-inserted">
          <mat-card class="example-card">
           
            <img mat-card-image src="/assets/img/3.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
    
              <mat-card-title>Sweet Club</mat-card-title>
             
            </mat-card-content>
            <mat-card-actions hidden>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    
    
          </div>


          <div class="col-md-6 col-lg-4 route-animations-elements ng-star-inserted">
            <mat-card class="example-card">
             
              <img mat-card-image src="/assets/img/4.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
      
                <mat-card-title>Miradores del Norte</mat-card-title>
          
              </mat-card-content>
              <mat-card-actions hidden>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
      
      
            </div>


            <div class="col-md-6 col-lg-4 route-animations-elements ng-star-inserted">
              <mat-card class="example-card">
               
                <img mat-card-image src="/assets/img/5.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
        
                  <mat-card-title>FAP</mat-card-title>
            
                </mat-card-content>
                <mat-card-actions hidden>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        
        
              </div>

      </div>


</div>

